html {
  box-sizing: border-box;
}

body {
  display: flex;
}

#menu {
  background-color: blue;
}

#word-display {
  background-color: lightcoral;
  display: flex;
  gap: 1rem;
  padding: 2rem;
  font-size: 1.5rem;
}

#keyboard {
  _background-color: chartreuse;
}
